@page "/weather"

<PageTitle>Weather</PageTitle>

<h1>Counter</h1>

@foreach (var counter in weatherViewState.CounterState.Counters)
{
    <span>Counter: @counter.Key</span>
    <p role="status">Current count: @counter.Value</p>
}

<h1>Weather</h1>

<p>This section demonstrates showing data. Changing cities takes 1 second. Updating the Forecast takes 5 seconds.</p>

<input @bind=city />
<button @onclick="@AddCity">Ok</button>

@foreach (var cityString in weatherViewState.WeatherState.Cities)
{
    <button @onclick=@(() => GetForecastsForCity(cityString))>@cityString</button>
}

@if (!string.IsNullOrEmpty(city))
{
    <div>
        @if (loadingForecasts)
        {
            <p><em>Loading forecasts...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Temp. (C)</th>
                        <th>Temp. (F)</th>
                        <th>Summary</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var forecast in weatherViewState.WeatherState.Forecasts)
                    {
                        <tr>
                            <td>@forecast.Date.ToShortDateString()</td>
                            <td>@forecast.TemperatureC</td>
                            <td>@forecast.TemperatureF</td>
                            <td>@forecast.Summary (@forecast.City)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @if (weatherViewState.WeatherState.RegionalForcasts == null)
        {
            <p><em>Loading regional forecasts...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Temp. (C)</th>
                        <th>Temp. (F)</th>
                        <th>Summary</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var forecast in weatherViewState.WeatherState.RegionalForcasts)
                    {
                        <tr>
                            <td>@forecast.Date.ToShortDateString()</td>
                            <td>@forecast.TemperatureC</td>
                            <td>@forecast.TemperatureF</td>
                            <td>@forecast.Summary (@forecast.City)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <button @onclick="AddWeather">Add Forecast for @city</button>
    <button @onclick="UpdateWeather">Update Forecast for @city</button>
}
else
{
    <p><em>Please select a city</em></p>
}